
body {
    height: 100vh;
}

main {
    overflow-y: auto;
    height: calc(100vh - 56px)
}

main .pagination {
    margin-bottom: 0;
}

main table thead tr th:nth-last-child(1) {
    width: 25% !important;
}

.input-group-append .material-icons {
    line-height: 0.8em;
}
